// Datagrid tables
// ----------------------------------------------------------------------------

table.datagrid {
  border-spacing: 0;
  width: 100%;
}
.datagrid thead {
  background: var(--form-bg);
}
.datagrid thead th {
  border: 0;
  padding: 0;
}
.datagrid thead a, .datagrid thead span {
  color: var(--text-color-dark);
  display: block;
  font-weight: 500;
  line-height: 1.357;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}
.datagrid th:first-child a, .datagrid th:first-child span, .datagrid td:first-child {
  padding-left: 20px;
}
.datagrid th:last-child a, .datagrid th:last-child span, .datagrid td:last-child {
  padding-right: 20px;
}
.datagrid td {
  padding: 8px;
}
.datagrid thead .sorted a, .datagrid thead .sorted span {
  font-weight: 700;
}
.datagrid thead i {
  color: var(--text-muted);
  margin-left: 2px;
}
.datagrid thead .sorted i {
  color: var(--color-primary);
}
.datagrid th, .datagrid td {
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
  vertical-align: middle;
}
.datagrid tr:last-child > td {
  border: 0;
}
.datagrid tbody tr:hover td, .datagrid tbody tr:hover th {
  background: var(--form-bg);
}
.datagrid td.actions {
  text-align: right;
}
.datagrid td.actions a {
  font-size: var(--font-size-sm);
  font-weight: 500;
  margin-left: 10px;
}
.datagrid td.actions .fa {
  font-size: var(--font-size-base);
}

.datagrid .actions-dropdown {
  position: relative;
}
.datagrid .actions-dropdown .dropdown-toggle {
  background: transparent !important;
  border: var(--border-width) solid transparent;
  box-shadow: none !important;
  padding: 1px 8px 0 8px;
}
.datagrid .actions-dropdown .dropdown-toggle:after {
  display: none;
}
.datagrid .actions-dropdown a.dropdown-item {
  margin: 0;
}
.datagrid .actions-dropdown a.dropdown-item i {
  margin-right: 5px;
}
.datagrid .actions-dropdown .dropdown-menu-right {
  border-top-right-radius: 0;
  right: 0;
  top: 20px;
  box-shadow: var(--box-shadow-lg);
}
.datagrid .actions-dropdown:hover {
  cursor: pointer;

  .dropdown-toggle {
    background: var(--white) !important;
    border: var(--border-width) solid var(--border-color);
    border-bottom-color: var(--white);
    z-index: $zindex-dropdown + 1;
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dropdown-menu {
    display: block;
  }
}

.datagrid .easyadmin-thumbnail img {
  box-shadow: 0 0 0 2px var(--white), 0 0 4px 1px var(--gray-600);
  margin-bottom: 2px;
  margin-top: 2px;
  max-height: 50px;
  max-width: 100px;
}

.datagrid th.boolean, .datagrid th.boolean a, .datagrid td.boolean,
.datagrid th.image, .datagrid th.image a, .datagrid td.image {
  text-align: center;
}

.datagrid td.avatar .image-avatar {
  border-radius: 50%;
  border: 0;
  box-shadow: none;
}

.datagrid td.country .country-flag,
.field-country .country-flag {
  margin-right: 2px;
  max-height: 18px;
  vertical-align: text-top;
}

.datagrid .highlight {
    border-radius: var(--border-radius);
    background: var(--highlight-bg);
    padding: 1px;
}

.datagrid .no-results {
    padding: 60px 0;
    text-align: center;
}
.datagrid .no-results:hover {
    background: transparent;
}

.datagrid-row-empty td,
.datagrid tbody .datagrid-row-empty:hover td {
  background-color: transparent;
  background-image: linear-gradient(135deg, var(--gray-50) 25%, transparent 25%, transparent 50%, var(--gray-50) 50%, var(--gray-50) 75%, transparent 75%, transparent 100%);
  background-size: 40px 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.datagrid-row-empty-message {
  background: var(--white);
  border-radius: var(--border-radius);
  padding: 2px 4px;
}

#modal-filters .modal-dialog {
  max-width: 400px;
}
#modal-filters .modal-content {
  background: var(--white);
}
#modal-filters .modal-header {
  background: var(--gray-50);
  border-bottom-color: var(--gray-300);
  padding: 10px 15px;
}
#modal-filters .modal-title {
  color: var(--gray-700);
  font-size: var(--font-size-base);
}
#modal-filters .modal-body {
  border-bottom: 0;
  padding: 15px;
}
.action-filters-button i {
  color: var(--text-color-light);
}
.action-filters-button.action-filters-applied i {
  color: var(--color-primary);
}
.action-filters-button span {
  font-weight: 600;
}
.action-filters-reset i {
  color: var(--text-color-light);
}
.filter-heading {
  align-items: center;
  display: flex;
  padding: 4px 0;
}
.filter-heading a {
  color: var(--link-color);
  cursor: pointer;
  flex: 1;
  margin-left: 7px;
}
.filter-content {
  margin-left: 15px;
}
.filter-content .form-group,
.filter-content .form-widget-compound .form-group {
  padding-right: 5px;
}
.filter-content .form-group:last-of-type {
  padding-bottom: 0;
}
// needed to hide the visual marker in the labels of required fields
.filter-content .form-group label.required:after {
    content: none;
}
.filter-content .field-choice .form-check + .form-check {
    margin-top: 4px;
}
.filter-content .field-choice .form-check-label {
    margin-top: 0;
}
