/* DEPRECATED: this file will be removed in EasyAdmin 5.0.0
/* @see detail-page.scss

/* Datalists (used in the DETAIL page)
/* ------------------------------------------------------------------------- */

.ea-detail .field-form_panel {
  padding-bottom: 35px;
}
.ea-detail .form-panel-header {
  box-shadow: none;
}

dl.datalist {
  margin-bottom: 0;
}
dl.datalist .data-row {
  box-shadow: inset 0 -1px var(--datalist-border-color);
  display: grid;
  grid-template-columns: 180px 1fr;
  padding: 8px;
}
dl.datalist .data-row:first-child {
  box-shadow: inset 0 -1px var(--datalist-border-color), inset 0 1px var(--datalist-border-color);
}

dl.datalist dt {
  color: var(--datalist-label-color);
  font-weight: 400;
  margin-bottom: 0;
  padding-right: 10px;
}

dl.datalist dd {
  color: var(--datalist-value-color);
  margin-bottom: 0;
  overflow: auto;
}

dl.datalist .data-help {
  color: var(--gray-600);
  font-size: var(--font-size-sm);
  margin: 15px 0 0;
}
dl.datalist .data-help i {
  color: var(--datalist-label-color);
}

.field-code_editor pre {
  color: inherit;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-sm);
  line-height: 1.6;
  white-space: pre-wrap;
}
.field-textarea dd,
.field-text_editor dd {
  max-width: 80ch;
}
