// Datagrid tables (used in the INDEX page)
// ----------------------------------------------------------------------------

table.datagrid {
  background: var(--white);
  border-spacing: 0;
  margin-bottom: 0;
  width: 100%;
}
.datagrid thead {
  background: var(--table-header-bg);
}
.datagrid thead th {
  border: 0;
  padding: 0;
}
.datagrid thead a, .datagrid thead span {
  color: var(--text-color-dark);
  display: block;
  font-weight: 500;
  line-height: 1.357;
  padding: 12px 8px;
  white-space: nowrap;
}
.datagrid th:first-child a, .datagrid th:first-child span, .datagrid td:first-child {
  padding-left: 20px;
}
.datagrid th:last-child a, .datagrid th:last-child span, .datagrid td:last-child {
  padding-right: 20px;
}
.datagrid td {
  padding: 8px;
}
.datagrid thead .sorted a, .datagrid thead .sorted span {
  font-weight: 700;
}
.datagrid thead i {
  color: var(--text-muted);
  margin-left: 2px;
}
.datagrid thead .sorted i {
  color: var(--color-primary);
}
.datagrid th, .datagrid td {
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
  vertical-align: middle;
}
.datagrid tbody tr:hover td, .datagrid tbody tr:hover th {
  background: var(--form-bg);
}
.datagrid td.actions {
  text-align: right;
}
.datagrid td.actions a:not(.dropdown-item) {
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.datagrid td.actions a:not(.dropdown-item) + a:not(.dropdown-item) {
  margin-left: 10px;
}
.datagrid td.actions .action-icon {
  filter: opacity(0.6);
  font-size: var(--font-size-base);
  margin-right: 2px;
}

.datagrid .dropdown-actions {
  .dropdown-toggle { color: var(--color-text); }
  // hides the caret added automatically by Bootstrap
  .dropdown-toggle:after { display: none; }
  .dropdown-toggle:hover { cursor: pointer; }
  .dropdown-menu { box-shadow: var(--box-shadow-lg); z-index: var(--zindex-900); }
  .dropdown-item { color: var(--link-color); }
  .dropdown-item:hover { color: var(--link-hover-color); }
  .action-icon { margin-right: 4px; }
}

.datagrid .ea-lightbox-thumbnail img {
  box-shadow: 0 0 0 2px var(--white), 0 0 4px 1px var(--gray-600);
  margin-bottom: 2px;
  margin-top: 2px;
  max-height: 50px;
  max-width: 100px;
}

.datagrid .highlight {
  border-radius: var(--border-radius);
  background: var(--highlight-bg);
  padding: 1px;
}

.datagrid .no-results {
  border-bottom: 0;
  padding: 96px 0;
  text-align: center;
}
.datagrid .no-results:hover {
  background: transparent;
}

.datagrid-row-empty td,
.datagrid tbody .datagrid-row-empty:hover td {
  background-color: transparent;
  background-image: linear-gradient(135deg, var(--gray-50) 25%, transparent 25%, transparent 50%, var(--gray-50) 50%, var(--gray-50) 75%, transparent 75%, transparent 100%);
  background-size: 40px 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.datagrid-row-empty-message {
  background: var(--white);
  border-radius: var(--border-radius);
  padding: 2px 4px;
}

.datagrid-header-tools {
  display: flex;
  padding: 0px 0px 10px;
}
.datagrid-header-tools .datagrid-search {
  flex: 1;
  max-width: 480px;
  margin-right: 15px;
}
.datagrid-header-tools .datagrid-search .form-group,
.datagrid-header-tools .datagrid-search .form-group .form-widget {
  flex: 1;
  margin: 0;
  padding: 0;
}

.datagrid-header-tools .datagrid-search input[type="search"].form-control {
  background-color: var(--white);
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23aaa" d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"/></svg>');
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 10px 8px;
  padding: 0 32px;
  min-width: 100%;
}

.datagrid-header-tools .datagrid-search .form-widget {
  position: relative;
}
.datagrid-header-tools .datagrid-search a.action-search-reset {
  color: var(--gray-500);
  padding: 4px 7px;
  position: absolute;
  right: 1px;
  top: 1px;
  text-decoration: none;
}
.datagrid-header-tools .datagrid-search a.action-search-reset:hover {
  color: var(--gray-700);
}

#modal-filters .modal-dialog {
  max-width: 400px;
}
#modal-filters .modal-content {
  background: var(--white);
}
#modal-filters .modal-header {
  background: var(--gray-50);
  border-bottom-color: var(--gray-300);
  padding: 10px 15px;
}
#modal-filters .modal-title {
  color: var(--gray-700);
  font-size: var(--font-size-base);
}
#modal-filters .modal-body {
  border-bottom: 0;
  padding: 15px;
}
.action-filters-button i {
  color: var(--text-color-light);
}
.action-filters-button.action-filters-applied i {
  color: var(--color-primary);
}
.action-filters-button span {
  font-weight: 600;
}
.action-filters-reset i {
  color: var(--text-color-light);
}
.filter-heading {
  align-items: center;
  display: flex;
  padding: 4px 0;
}
.filter-heading a {
  color: var(--link-color);
  cursor: pointer;
  flex: 1;
  margin-left: 7px;
}
.filter-content {
  margin-left: 15px;
}
.filter-content .form-group,
.filter-content .form-widget-compound .form-group {
  padding-right: 5px;
}
.filter-content .form-group:last-of-type {
  padding-bottom: 0;
}
// needed to hide the visual marker in the labels of required fields
.filter-content .form-group label.required:after {
  content: none;
}
.filter-content .field-choice .form-check + .form-check {
  margin-top: 4px;
}
.filter-content .field-choice .form-check-label {
  margin-top: 0;
}
