// Properties (the styles applied to properties in INDEX and DETAIL pages)
// ----------------------------------------------------------------------------

// Array field
.field-array ul {
  margin-bottom: 0;
  padding-left: 1.2em;
}
.field-array li + li {
  margin-top: 4px;
}

// Avatar field
.field-avatar .image-avatar {
  border-radius: 50%;
  border: 0;
  box-shadow: none;
}

// Boolean field
.field-boolean .badge {
  display: inline-block;
  font-size: 12px;
  min-width: 33px;
  text-transform: uppercase;
}
// Boolean values don't use "true = green, false = red" on purpose because being FALSE
// or TRUE can be good or bad depending on the context, so red/green doesn't always work
.field-boolean .badge-boolean-false {
  background: var(--gray-200);
  border: 1px solid var(--gray-300);
}
.field-boolean .badge-boolean-true {
  background: var(--color-primary);
  color: var(--white);
}

// CodeEditor field
.field-code_editor .form-widget {
  flex: 1;
}
.field-code_editor dt {
   max-height: 480px;
   overflow-y: auto;
 }

// Collection field
.form-widget-compound .collection-empty {
  margin-bottom: 10px;
  padding-top: 5px;
}

.form-widget-compound .form-group {
  display: flex;
  padding: 0 20px 15px 0;
}

.form-group .field-collection-item-complex label,
.form-group .field-collection-item-complex legend.col-form-label {
  align-self: self-start;
  color: var(--text-color);
  flex: 100% 0 0;
  font-size: var(--font-size-base);
  font-weight: 400;
  margin: 5px 0 5px;
  text-align: left;
}

.field-collection[data-entry-is-complex="true"] .form-group .form-widget {
  flex: 0 0 100%;
  padding-left: 0;
}

.field-collection-item {
  display: flex;
}
.field-collection-add-button {
  padding-left: 5px;
}
.field-collection-delete-button {
  align-self: flex-start;
  font-size: 16px;
  margin-left: 4px;
  padding: 4px 6px 0;
}
.form-widget-compound > div > .form-group:last-child {
  padding-bottom: 5px;
}

.field-collection-item-complex {
  background: var(--fieldset-bg);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px 20px 15px;
}
.field-collection-item-complex .field-collection-delete-button {
  padding: 0;
}

// Color field
.field-color .color-sample {
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--gray-300);
  display: inline-block;
  height: 19px;
  width: 45px;
}

// Country field
.field-country .country-flag,
.select2-results__option .country-flag {
  margin-right: 2px;
  max-height: 18px;
  vertical-align: text-top;
}

// Currency field
.field-currency .badge-currency {
  border: 2px solid var(--gray-300);
  display: inline-block;
  font-size: 12px;
  padding: 2px 4px;
  text-transform: uppercase;
}

// Date, Time and DateTime fields
.field-datetime input[type="datetime-local"].form-control,
.field-date input[type="date"].form-control,
.field-time input[type="time"].form-control {
  width: auto;
}

// Language field
.field-language .badge-language {
  border: 2px solid var(--gray-300);
  display: inline-block;
  font-size: 12px;
  padding: 2px 4px;
  text-transform: uppercase;
}

// Text editor field
.field-text_editor dt {
  max-height: 480px;
  overflow-y: auto;
}
