// Images and lightbox
// ----------------------------------------------------------------------------
.detail .field-image .form-control {
    background: transparent;
    border: 0;
    height: auto;
    padding: 0;
}

.detail .form-control .ea-lightbox-thumbnail img {
    box-shadow: 0 0 0 4px var(--white), 0px 0px 8px 2px var(--gray-600);
    margin: 10px 7px;
    max-height: 300px;
    max-width: 400px;
}

.ea-lightbox-thumbnail img:hover {
    cursor: zoom-in;
}

.ea-lightbox {
    display: none;
}

.ea-lightbox img {
    max-width: 100%;
    width: 100%;
}

.featherlight .ea-lightbox {
    display: block;
}

.featherlight .ea-lightbox:hover {
    cursor: zoom-out;
}
