/* Page templates available or custom backends
/* ------------------------------------------------------------------------- */
html,
body {
    block-size: 100%;
    margin: 0;
}
body.page-login {
    background: var(--body-bg);
}
@media (min-width: 576px) {
    body.page-login {
        background: var(--page-login-bg);
        min-block-size: 100vh;
        display: grid;
        place-items: center;
    }
}
body.page-login #flash-messages {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
}

@media (min-width: 576px) {
    .login-wrapper {
        margin: 0 auto;
        inline-size: 25rem;
    }
}
.login-wrapper .main-header {
    display: block;
    padding-inline-end: 0;
}
.login-wrapper .main-header #header-logo {
    border-block-end: var(--border-width) var(--border-style) var(--border-secondary-color);
    margin: 1.5rem 0 1rem;
    padding-block-end: 1rem;
}
@media (min-width: 576px) {
    .login-wrapper .main-header #header-logo {
        border-block-end: none;
    }
}
.login-wrapper .main-header #header-logo a {
    font-size: var(--font-size-lg);
    text-align: center;
    margin: 0;
    padding: 0;
}
@media (min-width: 576px) {
    .login-wrapper .main-header #header-logo a {
        font-size: var(--font-size-xl);
    }
}
.login-wrapper .content {
    background-color: var(--body-bg);
    padding: 15px 30px;
    inline-size: 100%;
}
@media (min-width: 576px) {
    .login-wrapper .content {
        background: var(--page-login-form-bg);
        border-radius: var(--border-radius-lg);
        box-shadow: var(--shadow-lg);
        padding: 2.5rem 3rem;
    }
}
.login-wrapper .form-widget input {
    background-color: var(--page-login-form-control-bg);
    border-color: var(--page-login-form-control-border-color);
    font-size: var(--font-size-lg);
    block-size: 38px;
    line-height: 38px;
}
.login-wrapper .form-group label.required:after {
    display: none;
}
.login-wrapper .btn-primary {
    background-color: var(--page-login-form-control-button-bg);
    font-size: var(--font-size-base);
    margin-block-start: 1rem;
}
.login-wrapper .form-text {
    font-size: inherit;
    margin-block-start: 5px;
}
