.select2-dropdown {
  z-index: var(--zindex-1050);
}

.select2-container--bootstrap .select2-selection {
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px rgba(43, 45, 80, .16), 0 0 0 1px rgba(6, 122, 184, 0), 0 0 0 2px rgba(6, 122, 184, 0), 0 1px 1px rgba(0, 0, 0, .08);
  color: var(--text-color);
  max-width: 350px;
  transition: box-shadow .08s ease-in, color .08s ease-in;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection,
.select2-container--bootstrap .select2-dropdown {
  border: 0;
  box-shadow: 0 0 0 1px rgba(43, 45, 80, 0), 0 0 0 1px rgba(6, 122, 184, .2), 0 0 0 2px rgba(6, 122, 184, .25), 0 1px 1px rgba(0, 0, 0, .08);
  outline: 0;
}

.select2-container--bootstrap .select2-dropdown {
  margin-top: 1px;
}

.select2-container--bootstrap .select2-dropdown--above {
  margin-top: -2px;
}

.select2-container--bootstrap .select2-selection .select2-search--inline {
  margin: 0;
}

.select2-container--bootstrap .select2-selection--single {
  box-shadow: 0 0 0 1px rgba(43,45,80,.1), 0 2px 5px 0 rgba(43,45,80,.08), 0 1px 1.5px 0 rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.08);
  height: 30px;
  padding: 5px 24px 5px 7px;
  overflow: hidden;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
  color: var(--text-color);
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  margin: 4px 0 0 7px;
}

.select2-container--bootstrap .select2-results__option {
  margin-bottom: 0;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
  background-color: var(--body-bg);
  font-weight: 500;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: var(--body-bg);
  color: var(--text-color);
}

.select2-container--bootstrap .select2-selection--multiple {
  min-height: 30px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  color: var(--text-color);
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
  color: var(--text-color);
  font-weight: 500;
  position: relative;
  top: -1px;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border: 0;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.16), 0 0 0 1px rgba(6, 122, 184, 0), 0 0 0 2px rgba(6, 122, 184, 0), 0 1px 1px rgba(0, 0, 0, 0.08);
  height: 30px;
  margin: 5px;
  padding: 4px 7px;
  width: 96%;
}

.select2-search--inline .select2-search__field:focus {
  outline: 0;
  border: 0;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
  height: 30px;
}

.has-error .form-widget .select2-container--bootstrap .select2-selection {
  box-shadow: 0 0 0 1px rgba(43, 45, 80, 0), 0 0 0 1px rgba(183, 6, 32, .2), 0 0 0 2px rgba(183, 6, 32, .25), 0 1px 1px rgba(0, 0, 0, .08);
}
