// Switches (toggles)
// ----------------------------------------------------------------------------

.form-switch .form-check-input {
  cursor: pointer;
  height: 18px;
  width: 32px;
}
.form-switch .form-check-input[disabled] {
  cursor: not-allowed;
}
.form-switch .form-check-input:focus {
  box-shadow: none;
}
