{% if item.parent -%}
    {% include '@EasyAdmin/default/action.html.twig' with {
        action_href: path('easyadmin', request_parameters|merge({
            action: 'show',
            id: item.parent.id
        }))
    } %}
{%- else -%}
    <span class="sr-only">No Parent</span>
{%- endif %}
