/.claude export-ignore
/.ddev export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/.phpstorm.meta.php export-ignore
/.symfony.bundle.yaml export-ignore
/AGENTS.md export-ignore
/biome.json export-ignore
/doc/.doctor-rst.yaml export-ignore
/doc/images export-ignore
/Makefile export-ignore
/package.json export-ignore
/phpstan-baseline.neon export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/webpack.config.js export-ignore
/yarn.lock export-ignore

skills/**/*.md text eol=lf
