includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src/
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    ignoreErrors:
        - '#Cannot use array destructuring on callable.#'
