{% trans_default_domain "EasyAdminBundle" %}
{% if value == true %}
    <span class="label label-success">{{ 'boolean.true'|trans }}</span>
{% else %}
    <span class="label label-danger">{{ 'boolean.false'|trans }}</span>
{% endif %}