<a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ uuid }}" data-featherlight-close-on-click="anywhere">
    <img src="{{ asset(value) }}">
</a>

<div id="easyadmin-lightbox-{{ uuid }}" class="easyadmin-lightbox">
    <img src="{{ asset(value) }}">
</div>
