{% trans_default_domain 'EasyAdminBundle' %}

{% if value == true %}
    <span class="label label-success">{{ 'label.true'|trans }}</span>
{% else %}
    <span class="label label-danger">{{ 'label.false'|trans }}</span>
{% endif %}
