{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var property \EasyCorp\Bundle\EasyAdminBundle\Dto\PropertyDto #}
{# this is a bit ugly, but Twig doesn't have a 'is numeric' test #}
{% if property.formattedValue matches '/^\\d+$/' %}
    <span class="badge badge-secondary">{{ property.formattedValue }}</span>
{% else %}
    {{ property.formattedValue }}
{% endif %}
