{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\ApplicationContext #}
{# @var property \EasyCorp\Bundle\EasyAdminBundle\Dto\PropertyDto #}

{% set html_id = 'ea-lightbox-' ~ property.uniqueId %}
<a href="#" class="ea-lightbox-thumbnail" data-featherlight="#{{ html_id }}" data-featherlight-close-on-click="anywhere">
    <img src="{{ asset(property.formattedValue) }}">
</a>

<div id="{{ html_id }}" class="ea-lightbox">
    <img src="{{ asset(property.formattedValue) }}">
</div>
