{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\ApplicationContext #}
{# @var property \EasyCorp\Bundle\EasyAdminBundle\Dto\PropertyDto #}
{% if property.customOptions.get('showCode') and property.value is not null %}
    <span class="badge badge-language" title="{{ property.formattedValue }}">{{ property.value }}</span>
{% endif %}
{% if property.customOptions.get('showName') %}
    {{ property.formattedValue ?? '' }}
{% endif %}
