@import '~trix/dist/trix.css';

.ea-text-editor-wrapper {
    background: var(--white);
    border: 0;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px rgba(43, 45, 80, .16), 0 0 0 1px rgba(6, 122, 184, 0), 0 0 0 2px rgba(6, 122, 184, 0), 0 1px 1px rgba(0, 0, 0, .08);
    padding: 7px;
}
trix-toolbar {
    margin-bottom: 10px;
}
trix-toolbar .trix-button-group {
    border-color: var(--gray-500);
    margin-bottom: 0;
    border-width: 1px 1px 2px;
}
trix-toolbar .trix-button {
    border: 0;
    color: var(--gray-500);
}
trix-toolbar .trix-button.trix-active {
    color: var(--gray-700);
}
trix-editor {
    border: 0;
    padding: 3px;
}

/* there's no way to disable buttons from the Trix toolbar except by hiding them via CSS
   see https://github.com/basecamp/trix/issues/402 */
trix-toolbar .trix-button-group--file-tools,
trix-toolbar .trix-button-group--history-tools {
    display: none;
}
@media(min-width: 1200px) {
    trix-toolbar .trix-button-group--history-tools {
        display: flex;
    }
}
