@import '~codemirror/lib/codemirror.css';

.CodeMirror {
  font: 13px/1.5 SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Ubuntu Mono", "Courier New", monospace;
  height: auto;
  min-height: 45px;
}

.CodeMirror-wrap {
  border: 1px solid var(--gray-300);
  box-shadow: 0 1px 2px 0 var(--gray-50);
  border-radius: var(--border-radius);
}
.CodeMirror-wrap:focus-within {
  border-color: var(--gray-400);
  box-shadow: 0 0 0 4px var(--gray-100);
  outline: 0;
}
.CodeMirror-gutters {
  background: var(--gray-100);
}

.CodeMirror-linenumber {
  color: var(--text-muted);
}

.CodeMirror-lines {
  padding-bottom: 5px;
}
