{# This is a template used internally by EasyAdmin. Don't use it
   directly in your applications. Instead, use the 'login.html.twig' template #}
{% trans_default_domain translation_domain ?? 'messages' %}
<!DOCTYPE html>
<html>
    <head>
        {% block head_metas %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <meta name="generator" content="EasyAdmin" />
        {% endblock head_metas %}

        {% block head_favicon %}
            <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⬛</text></svg>">
        {% endblock %}

        <title>{{ block('page_title')|striptags|raw }}</title>

        {% block head_stylesheets %}
            <link rel="stylesheet" href="{{ asset('app.css', constant('EasyCorp\\Bundle\\EasyAdminBundle\\Asset\\AssetPackage::PACKAGE_NAME')) }}">
        {% endblock %}

        {% block head_javascript %}
            <script src="{{ asset('app.js', constant('EasyCorp\\Bundle\\EasyAdminBundle\\Asset\\AssetPackage::PACKAGE_NAME')) }}"></script>
        {% endblock head_javascript %}
    </head>

    <body id="{% block body_id %}{% endblock %}" class="ea {% block body_class %}{% endblock %}">
        {% block wrapper_wrapper %}{% endblock wrapper_wrapper %}
    </body>
</html>

