<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="generator" content="EasyAdmin" />
        <title>{% block page_title %}{% endblock %} | EasyAdmin Error</title>
        <link href="{{ asset('bundles/easyadmin/stylesheet/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/easyadmin/stylesheet/font-awesome.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ path('_easyadmin_render_css') }}">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
    </head>

    <body class="{% block body_class %}error{% endblock %}">
        <div class="container">
            <h1>{% block error_title %}Error{% endblock %}</h1>

            <div class="error-problem">
                <p class="lead">
                    {% block problem %}{% endblock %}
                </p>
            </div>

            {% block solution_wrapper %}
            <div class="error-solution">
                <h2>How to fix this problem</h2>

                {% block solution %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </body>
</html>
