{% set _entity_config = app.request.query.get('entity') ? easyadmin_entity(app.request.query.get('entity')) %}
{% extends [
    _entity_config.templates.layout|default(''),
    easyadmin_config('design.templates.layout'),
    '@EasyAdmin/default/layout.html.twig'
] %}

{% block body_class 'error' %}
{% block page_title %}{{ 'errors'|transchoice(1, {}, 'EasyAdminBundle') }}{% endblock %}

{% block content_header '' %}
{% block main %}
    <div class="error-message">
        <h1><i class="fa fa-exclamation-circle"></i> {{ block('page_title') }}</h1>
        {{ exception.publicMessage|trans(exception.translationParameters, 'EasyAdminBundle') }}
    </div>
{% endblock %}
