{% extends layout_template_path %}

{% block body_class 'error' %}
{% block page_title %}{{ 'errors'|transchoice(1, {}, 'EasyAdminBundle') }}{% endblock %}

{% block content_header_wrapper '' %}
{% block content_footer_wrapper '' %}
{% block main %}
    <div class="error-message">
        <h1><i class="fa fa-fw fa-exclamation-circle"></i> {{ block('page_title') }}</h1>
        {{ exception.publicMessage|trans(exception.translationParameters, 'EasyAdminBundle') }}
    </div>
{% endblock %}
