{% trans_default_domain 'EasyAdminBundle' %}

{% if view == 'show' or ('edit' in backend_config.disabled_actions) or (not is_easyadmin_granted(entity_config, 'edit', item)) %}
    {% include '@EasyAdmin/default/field_boolean.html.twig' %}
{% else %}
    <div class="checkbox-switch" data-propertyname="{{ field_options.property }}">
        <label>
            <input type="checkbox" {{ value == true ? 'checked' }}>
            {# the empty <span> is needed for styling. Don't remove it! #}<span></span>
        </label>
    </div>
{% endif %}
