{% trans_default_domain 'EasyAdminBundle' %}

{% if view == 'show' or ('edit' in backend_config.disabled_actions) %}
    {% if value == true %}
        <span class="label label-success">{{ 'label.true'|trans }}</span>
    {% else %}
        <span class="label label-danger">{{ 'label.false'|trans }}</span>
    {% endif %}
{% else %}
    <div class="checkbox-switch">
        <label>
            <input type="checkbox" {{ value == true ? 'checked' }}>
            {# the empty <span> is needed for styling. Don't remove it! #}<span></span>
        </label>
    </div>
{% endif %}
