{% if view == 'show' %}
    {{ value|nl2br }}
{% elseif view == 'list' %}
    <span title="{{ value }}">{{ value|easyadmin_truncate }}</span>
{% else %}
    {{ value|striptags|easyadmin_truncate }}
{% endif %}