{% if app.session is not null and app.session.started %}
    <div id="flash-messages">
        {% for label, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
