<!DOCTYPE html>
<html>
<head><title>Popup closing...</title></head>
<body>
<script type="text/javascript"
        src="{{ asset('bundles/easyadmin/javascript/popup_response.js') }}"
        id="easyadmin-popup-response-script"
        data-popup-response="{{ popup_response_data }}">
</script>
</body>
</html>
